<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color elegido</title>
</head>
<body <%= color ? 'style=background-color:' + color : '' %> >
    <% if(color) { %>
        <h2>El color elegido es <%= color %></h2>
    <% } else { %>
        <h4>Aún no has elegido color</h4>
    <% } %>   
</body>
</html>
